<!DOCTYPE html>
<html>
  <head>
    <title>My trips: {{title}}</title>
    <meta property="og:title" content="My trips: {{title}}">
    <meta property="og:image" content="../data/{{tripId}}/preview.png">
    <meta property="og:description" content="{{description}}">
    <meta property="og:url" content="../#/maps/{{tripId}}">
    <meta http-equiv="Refresh" content="0; url=../#/maps/{{tripId}}">
  </head>

  <body>
    <body>
        <p>Please follow <a href="../#/maps/{{tripId}}">this link</a>.</p>
    </body>
  </body>
</html>